.sphere-container {
  position: relative;
  width: 400px;
  height: 400px;
  perspective: 25em;
}

.a3d {
  transform-style: preserve-3d;
  animation: ry 8s linear infinite;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
}

.vx {
  padding: 5vmin;
  border-radius: 50%;
  translate: 
    calc(10vmin * var(--v0)) 
    calc(10vmin * var(--v1)) 
    calc(10vmin * var(--v2));
  background: 
    radial-gradient(at 27% 32%, #fffd, #0000),
    radial-gradient(at 65% 85%, #fff9, #0000 65%)
    tomato;
  filter: saturate(2);
  animation: inherit;
  animation-direction: reverse;
  position: absolute;
}

.vx::before {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: 
    radial-gradient(at 15% 15%, 
      #0000 57.5%, #0004 65%, #0000 85%);
  mask: linear-gradient(45deg, #0000 25%, red);
  content: '';
}

@keyframes ry { 
  to { 
    rotate: y 1turn;
  }
}