
    .github-button {
        display: inline-block;
        position : absolute;
        top: 525px;
        left: 75px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        transition: transform 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .github-button:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    }

    .github-button img {
        width: 100%;
        height: 100%;
        display: block;
    }


    .instagram-button {
        display: inline-block;
        position : absolute;
        top: 525px;
        left: 250px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        transition: transform 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .instagram-button:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    }

    .instagram-button img {
        width: 100%;
        height: 100%;
        display: block;
    } 


    .groupPic {
      position : absolute;
      top: 190px;
      left: 800px;
      height: 400px;
      width: 525px;
      overflow: hidden;
      transition: transform 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }



    .linkedin-button {
      display: inline-block;
      position : absolute;
      top: 525px;
      left: 160px;
      width: 50px;
      height: 50px;
      overflow: hidden;
      transition: transform 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .linkedin-button:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    }

    .linkedin-button img {
        width: 100%;
        height: 100%;
        display: block;
    } 




.Hey {
  font-size: 95px;
  margin: 0;
  top: auto;
  display: flex;
  font-family: 'Great Vibes', cursive;   
  color: #C15F3C;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 40px rgba(213, 116, 132, 0.3);

  font-weight: bold;
}

.myName {
  font-size: 95px;
  margin: 0;
  display: flex;
  font-weight: lighter;
  font-family: 'times new roman', serif;
  color: #C15F3C;

}

.aDeveloper {
  font-size: 23px;
  margin: 0;
  display: flex;
  font-weight: lighter;
  font-family: 'times new roman', serif;
  color: #C15F3C;
}


.navBar {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
  font-size: 25px;
  font-style: italic;
  font-family: 'Times New Roman', serif;
}

.navBar a {
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  color: #C15F3C;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-family: 'monospace', monospace;
  background-color: rgb(40, 37, 37);
}





    .github-button1 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        transition: transform 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .github-button1:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    }

    .github-button1 img {
        width: 100%;
        height: 100%;
        display: block;
    }